.box {
  box-sizing: border-box;
}
:root {
  --font-heading: "Sen", sans-serif;
  --primary-color: #ffb900;
}
.html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}
/* ===============Common============ */
a {
  text-decoration: none;
}
.main_content {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  max-width: calc(100% - 48px);
}
.btn {
  color: #fff;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
  background-color: #171100;
  display: inline-block;
  min-width: 120px;
  border-radius: 999px;
  line-height: 50px;
}
.btn:hover {
  opacity: 0.9;
  cursor: pointer;
}
.heading-lv2 {
  color: #171100;
  font-family: var(--font-heading);
  font-size: 2.6rem;
  font-weight: 700;
  line-height: 1.27;
  letter-spacing: -0.76px;
}
.line_clamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 1);
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.line_clamp.line-2 {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 2);
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.break_all {
  word-break: break-all;
}
/* ===============Header============ */
.header {
  background: #fffcf4;
}
.header.fix {
  position: sticky;
  top: -28px;
  z-index: 1;
}
.header .body {
  display: flex;
  align-items: center;
  padding: 36px 0 8px;
}
.nav {
  margin-left: auto;
}
.nav ul {
  display: flex;
}
.nav a {
  color: #5f5b53;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  position: relative;
  padding: 8px 21px;
}
.nav a:hover,
.nav li.active a {
  color: #171100;
  font-style: normal;
  text-shadow: 1px 0px 0px currentColor;
}
.nav li.active a::after {
  display: block;
  content: "";
  width: 12px;
  height: 2px;
  border-radius: 3px;
  background-color: #171100;
  position: absolute;
  left: 21px;
}
.header .btn-sign-up {
  min-width: 114px;
}
.header .action {
  margin-left: 49px;
}

/* =============hero======== */
.hero {
  padding: 56px 0 65px;
  background-color: #fffcf4;
}
.hero .body {
  display: flex;
}
.hero .media_block {
  position: relative;
  width: 48%;
}
.hero .content_block {
  width: 52%;
  padding-left: 130px;
  padding-top: 64px;
}
.hero .media_block .img {
  width: 470px;
  height: 685px;
  object-fit: cover;
  border-radius: 20px;
}
.hero .hero_summary {
  position: absolute;
  bottom: 48px;
  right: 0;
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
  width: 270px;
  padding: 24px;
}
.hero .hero_summary .item {
  display: flex;
  align-items: center;
}
/* tác động item nằm sau item khác */
.hero .hero_summary .item + .item {
  margin-top: 22px;
  display: flex;
}
.hero_summary .icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero_summary .info {
  margin-left: 16px;
}
.hero_summary .info .label {
  color: #5f5b53;
  font-size: 1.4rem;
  line-height: 1.86;
}
.hero_summary .info .title {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
}
.hero .heading {
  color: #171100;
  font-family: var(--font-heading);
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: -2%;
}
.hero .desc {
  margin-top: 22;
  line-height: 1.67;
  font-size: 1.2rem;
  color: #5f5b53;
}
.hero .cta_group {
  margin-top: 38px;
  display: flex;
  align-items: center;
}
.hero_cta {
  min-width: 180px;
  background-color: var(--primary-color);
  line-height: 64px;
}
.hero .watch_video {
  border: none;
  background: transparent;
  display: flex;
  margin-left: 28px;
  align-items: center;
  cursor: pointer;
}
.hero .watch_video .icon {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.07);
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero .watch_video span {
  color: #171100;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.67;
  margin-left: 14px;
}
.hero .recent {
  margin-top: 48px;
}
.hero .stats {
  margin-top: 8px;
}
.hero .content_block .stats strong {
  color: #171100;
  font-family: var(--font-heading);
  font-size: 3.4rem;
  font-weight: 700;
  line-height: 1.23;
  margin-right: 15px;
}
.hero .content_block .stats strong:nth-child(2) {
  margin-left: 28px;
}
/* ============popular========== */
.popular {
  padding: 65px 0;
  margin-top: 135px;
}
.popular_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.popular_top .desc {
  margin-top: 16px;
  width: 458px;
  color: #5f5b53;
  font-size: 1.2rem;
  line-height: 1.67;
}
.popular_top .control {
  display: flex;
}
.popular_top .control_btn {
  background: transparent;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
.popular_top .control_btn:hover {
  color: #fff;
  background: var(--primary-color);
  cursor: pointer;
}
.popular .courses_list {
  gap: 30px;
  margin-top: 55px;
  display: flex;
}
.popular .course_item .thumb {
  width: 100%;
  border-radius: 12px 12px 0px 0px;
  height: 278px;
  object-fit: cover;
}
.popular .course_item {
  flex: 1;
  border-radius: 12px;
  background: #fff;
  border: 1px solid #e2dfda;
}
.popular .course_item:hover {
  border: 1px solid transparent;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
}
.popular .course_item .info {
  padding: 16px 22px 22px;
}
.popular .course_item .foot,
.popular .course_item .rating,
.popular .course_item .head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.popular .course_item .title {
  color: #171100;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.67;
}
.popular .rating .value {
  margin-left: 6px;
  color: #fea31b;
  font-size: 1rem;
  line-height: 1.75;
}
.popular .course_item .desc {
  margin-top: 6px;
  color: #5f5b53;
  font-size: 0.9rem;
  line-height: 1.86;
}
.popular .course_item .price {
  color: #171100;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.67;
}
.popular .course_item .btn_book {
  border: none;
}
.popular .course_item .btn_book:hover {
  background: var(--primary-color);
}
/* ===============feedback=========== */
.feedback {
  margin-top: 135px;
  padding: 96px 0px;
  background: #2e2100;
}
.feedback_list {
  display: flex;
  overflow: hidden;
}
.feedback .feedback_item {
  display: flex;
  flex-shrink: 0;
  min-width: 0;
  max-width: 100%; /* Không vượt quá .feedback_list */
}

.feedback .feedback_item .avartar {
  width: 72px;
  height: 72px;
  object-fit: cover;
  border-radius: 50%;
}
.feedback_item .info .member_name {
  margin-top: 18px;
  font-family: var(--font-heading);
  color: #f7f7f7;
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 1.42;
}
.feedback_item .info .desc {
  margin-top: 4px;
  color: #bfbcb2;
  font-size: 0.8rem;
  line-height: 1.85;
}
.feedback_item .dots {
  display: flex;
  margin-top: 28px;
  gap: 6px;
}
.feedback_item .dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #634700;
}
.feedback_item .dot:hover {
  background-color: var(--primary-color);
  cursor: pointer;
}
.feedback_item .dot.active {
  background-color: var(--primary-color);
  cursor: default;
}
.feedback_item .content {
  width: 66%;
  margin-left: auto;
}

.feedback_item blockquote {
  padding-left: 30px;
  font-style: italic;
  font-size: 1.5rem;
  line-height: 1.54;
  letter-spacing: 0%;
  color: #fff;
}
/* ================feature1========== */
.feature {
  margin-top: 135px;
  padding: 65px 0;
}
.feature .body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.feature .images {
  display: flex;
  gap: 30px;
}
.feature .images img {
  width: 270px;
  height: 405px;
  object-fit: cover;
  border-radius: 16px;
}
.feature .lower {
  margin-top: 34px;
}
.feature .content {
  width: 41%;
}
.feature .desc {
  margin-top: 16px;
  color: #5f5b53;
  font-size: 1rem;
  line-height: 1.75;
}
.feature .feature-btn {
  background: var(--primary-color);
  margin-top: 32px;
}
/* ===============feature2================== */
.feature.feature_2nd .body {
  flex-direction: row-reverse;
  margin-top: 70px;
}
.feature.feature_2nd .content {
  width: 49%;
}
.feature_2nd .images img {
  width: 470px;
  height: 440px;
}
/* ====================blog================== */
.blogs {
  margin-top: 135px;
  padding: 96px 0;
  background: #fffcf4;
}
.blogs .blog_top {
  text-align: center;
}
.blogs .blog_top .desc {
  margin: 16px auto 0;
  width: 448px;
  font-size: 1rem;
  line-height: 1.75;
}
.blogs .blog_list {
  overflow: hidden;
  display: flex;
  margin-top: 55px;
  gap: 30px;
}
.blogs .item {
  width: 33%;
  background-color: #fff;
  flex-shrink: 0;
}
.blogs .item:hover {
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}
.blogs .blog_list .thumb {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 16px 16px 0px 0px;
}
.blogs .item .info {
  padding: 28px 20px;
}
.blogs .item .date {
  position: relative;
  display: inline-flex;
  align-items: center;
  color: #5f5b53;
  font-size: 0.8rem;
  line-height: 1.86;
  padding-bottom: 12px;
}
.blogs .item .date::before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  background: var(--primary-color);
  margin-right: 4px;
  width: 6px;
  height: 6px;
}
.blogs .item .date::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  display: inline-block;
  right: -27px;
  height: 1px;
  background: #e2dfda;
  border-radius: 0.5px;
}
.blogs .item .title {
  color: #171100;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.75;
}
.blogs .item .btn {
  margin-top: 12px;
  font-size: 1.2rem;
}
.blogs .item .btn:hover {
  background: var(--primary-color);
}
.blogs .dots {
  display: flex;
  justify-self: center;
  gap: 6px;
}
.blogs .dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #5f5b53;
}
.blogs .dot.active {
  background: var(--primary-color);
}
/* =================footer============= */
.footer {
  background: #2e2100;
  padding: 96px 135px 0px;
}
.footer .row {
  display: flex;
  margin-bottom: 38px;
  border-bottom: 1px solid #59554b;
}
.footer .row .column {
  width: 21.6%;
}
.footer .row .column:first-child {
  width: 35%;
}
.footer .row .desc {
  margin-top: 18px;
  max-width: 267px;
  color: #bfbcb2;
  font-size: 0.9rem;
  line-height: 1.86;
}
footer .socials {
  display: flex;
  gap: 18px;
  margin-top: 18px;
}
.footer .title {
  display: inline-block;
  padding-bottom: 14px;
  padding-right: 48px;
  border-bottom: 1px solid #59554b;
  font-size: 1rem;
  color: #fff;
  font-weight: 600;
  line-height: 1.75;
}
.footer .list {
  margin-top: 28px;
}
.footer .list a {
  color: #bfbcb2;
  font-size: 0.8rem;
  line-height: 1.86;
  display: inline-block;
  margin-bottom: 12px;
}
.footer .list li:last-child a {
  margin-bottom: 0;
}
.footer .list strong {
  color: #fff;
  font-style: 1rem;
  font-weight: 600;
  line-height: 1.86;
}
.footer .copyright {
  padding: 28px 0;
  color: #807d74;
  font-size: 0.8rem;
  line-height: 1.86;
  text-align: center;
}
